<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Danh sách Blog</title>
</head>
<body>
<h1>Danh sách các bài Blog</h1>
<div>
  <h2>Danh mục</h2>
  <ul>
    <li><a th:href="@{/blogs}">Tất cả</a></li> <!-- nút xem tất cả -->
    <li th:each="category : ${categories}">
      <a th:href="@{/blogs(categoryId=${category.id})}"
         th:text="${category.name}"></a>
    </li>
  </ul>
</div>

<div th:if="${message}">
  <p style="color: green;" th:text="${message}">

</div>
<form method="get" action="/blogs">
  <input type="hidden" name="categoryId" th:value="${categoryId}">
  <input type="text" name="search" placeholder="Tìm theo tiêu đề..." >
  <button type="submit">Tìm kiếm</button>
</form>

<p><a th:href="@{/blogs/create}">Viết bài blog mới</a> | <a th:href="@{/categories}">Xem danh mục</a></p>
<table border="1">
  <thead>
  <tr>
    <th>Tiêu đề</th>
    <th>Tóm tắt</th>
    <th>Tác giả</th>
    <th>Danh mục</th>
    <th>Ngày tạo</th>
    <th>Hành động</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="blog : ${blogs}">
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.summary}"></td>
    <td th:text="${blog.author}"></td>
    <td th:text="${blog.category != null ? blog.category.name : 'Chưa có'}"></td>
    <td th:text="${#temporals.format(blog.creationDate, 'dd/MM/yyyy')}"></td>

    <td>
      <a th:href="@{/blogs/{id}(id=${blog.id})}">Xem</a> |
      <a th:href="@{/blogs/edit/{id}(id=${blog.id})}">Sửa</a> |
      <a th:href="@{/blogs/delete/{id}(id=${blog.id})}">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>
<a class="btn btn-primary" th:if="${blogs.hasPrevious()}"
   th:href="@{/blogs(page=${blogs.number - 1})}">Previous</a>
<span th:text="${blogs.number + 1}"></span> | <span th:text="${blogs.totalPages}"></span>
<a class="btn btn-primary" th:if="${blogs.hasNext()}"
   th:href="@{/blogs(page=${blogs.number + 1})}">Next</a>
</body>
</html>